<%= form_for @school_class do |f| %>
  <label>School Class Form</label><br>
  <%= f.label "Title" %>
  <%= f.text_field :title %><br>
  <%= f.label "Room Number" %>
  <%= f.number_field :room_number %><br>
  <%= f.submit %>
<% end %>
