<h1>New School Class Form</h1>

<%= form_for SchoolClass.new do |s| %>
  <%= s.label :title %><br>
  <%= s.text_field :title %><br>

  <%= s.label :room_number %><br>
  <%= s.number_field :room_number %><br>

<%= s.submit %>
<% end %>
